/* ========== CONFIGURAÇÃO BASE ========== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{ box-sizing:border-box; margin:0; padding:0; }

body{
  font-family: 'Poppins', Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #f0f4f9;
  background-size: cover;
}

/* ===== Cabeçalho superior ===== */
.top-header{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 0;
}

h1 {
  font-size: 55px;
  font-weight: bold;
  color: #b92535;
  margin: 0;
}

/* ===== Sidebar ===== */
.sidebar{
  position:fixed;
  top:0; left:0; bottom:0;
  width:250px;
  background:#fff;
  padding:10px 14px;
  display:flex;
  flex-direction:column;
  transition:width .3s;
}

/* logo + botão */
.logo-box{
  display:flex;
  align-items:center;
  gap:12px;
  margin-left: 25px;
  margin-top: 15px;
  margin-bottom:70px;
  position:relative; 
}
.sidebar .image img{ width:90%; }

/* ===== Links ===== */
.menu, .logout{ list-style:none; }
.menu li+li    { margin-top:8px; }

.sidebar a{
  display:flex;
  align-items:center;
  gap:10px;
  font-size:16px;
  color:#4f4f4f;
  padding:7px 14px;
  border-radius:8px;
  text-decoration:none;
  transition:background .2s;
}
.sidebar a:hover{ 
  background:#f2f3f7; 
}


.logout {
  margin-top: 90px;
}

/* ================================== CAMPOS DE ATUALZIAÇÃO DO USUARIO ================================== */
